<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System - about</title>
</head>
<body>
	<section
		class="container d-flex justify-content-center align-items-center"
		style="margin-top: 50px;">
		<div class="card" style="width: 50rem;">
			<div class="card-body" style="background-color: #e6ffff">
				<h1 class="card-title">About Employee Management System</h1>
				<p class="card-text">Employee management system is a software program
					that enables Managers to easily store and find information about an employee,
					such as name, email.</p>
			</div>
		</div>
	</section>
</body>
</html>